/*****************************************************************************************
 * EduSec  Open Source Edition is a School / College management system developed by
 * RUDRA SOFTECH. Copyright (C) 2010-2015 RUDRA SOFTECH.

 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses. 

 * You can contact RUDRA SOFTECH, 1st floor Geeta Ceramics, 
 * Opp. Thakkarnagar BRTS station, Ahmedbad - 382350, India or
 * at email address info@rudrasoftech.com.
 * 
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * RUDRA SOFTECH" logo. If the display of the logo is not reasonably feasible for
 * technical reasons, the Appropriate Legal Notices must display the words
 * "Powered by RUDRA SOFTECH".
 *****************************************************************************************/

/**
 * used this css in login process.
 */

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a {
  color: #444;
}
.login-page {
 /* background: #d2d6de;*/
  background: #bbbfc7;
}
.login-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
.login-header {
    background: none repeat scroll 0 0 #e9e9e9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 20px;
}
.login-header h1 {
    font-family: "oswald";
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.login-footer {
   /* background:#E9E9E9;
    width:100%;
    padding: 10px;
    text-align:center;
    bottom: 0;
    position: fixed;*/
	display: none;
}
.login-data {
    
}
