.edusec-link-box {
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
    border: 1px solid #ddd;
    position:relative;
}
.edusec-link-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}
.edusec-link-box-text {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.edusec-link-box-number {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.edusec-link-box-icon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 90px;
}
.edusec-link-box-desc {
    color:#aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.edusec-link-box-bottom {
    position:absolute;
    bottom:2px;
    right:3px;
}
.msg-of-day {
    float:left;
    width:100%;
}
.breadcrumb {
	margin:0;
}
.edusec-main-footer {
  /*  background: none repeat scroll 0 0 #fff;
    //border-top: 1px solid #eee;
    //color: #444;
    //padding: 15px;
   // float:left;
   // width:100%;
   */
   display:none;
   
}
.edusec-page-header-1 {
   font-size:19px
}
.edusec-page-header-btn {
   padding-bottom:14px;
}

.notice-main {
    height: 55px;
    margin-bottom: 12px;
    padding: 3px;
    border-radius: 5px;
}

.notice-disp-date {
    float: left;
    font-size: 17px;
    height: 55px;
    position: relative;
    top: 12px;
    vertical-align: middle;
    width: 100px;
}
.notice-body {
    width: 100%;
}
.notice-title{
    display: block;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice-desc {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edusec-img-disp {
	border: 5px solid #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	width:135px;
	height:135px;
	margin: 15px;
}

form div.required label.control-label:after {
  content:" * ";
  color:red;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.edusec-form-bg {
	background-color: #F8F8F8;
}

body.modal-open {
    padding-right: 0px !important;
}
.navbar-nav > .module-menu > .dropdown-menu {
  margin: 0 !important;
  padding: 0 !important;
  top: 100%;
  width: 290px;
}
.navbar-nav > .module-menu > .dropdown-menu > li .menu {
  padding: 5px !important;
}
.navbar-nav > .module-menu > .dropdown-menu > li .menu li {
  list-style: none outside none;
  float: left;
  padding: 10px;
  text-align: center;
  width: 33%;
}
.navbar-nav > .module-menu > .dropdown-menu > li .menu > li > a:hover{ background: none; }
.navbar-nav > .module-menu > .dropdown-menu > li .menu > li > a > h4 {
  color: #444444;
  font-size: 15px;
  padding: 0;
  position: relative;
}

.navbar-nav > .module-menu .dropdown-menu .slimScrollDiv,
.navbar-nav > .module-menu .dropdown-menu .slimScrollDiv .menu {
  height: 280px !important;
}
